.Button{
    margin-bottom: 5px;
}

.photodata{
    padding: 10px;
    border: 1px solid black;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    
}

.container{
    display: flex;
    border: 2px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.image{
    
    height: 100px;
    width: 100px;
}

.tlt{
    font-size: 16px;
}

.body{
    font-size: 16px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    margin-bottom: 5px;
}

.Buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}
